<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport"
          content="
		width=device-width,
		initial-scale=1.0,
		minimum-scale=1.0,
		maximum-scale=1.0,
		user-scalable=no">

    <title>飞鱼聊天</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-md5@0.7.3/src/md5.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrapValidator.css" />
    <script src="js/bootstrapValidator.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-md5@0.7.3/src/md5.min.js"></script>
<!--    <link rel="stylesheet" href="../static/css/mstyle.css">-->

    <style>
        @media(min-width: 768px){
            .panel-container{
                border-right: 1px solid rgba(0, 0, 0, 0.125);
            }
            .room-card{
                width: 50%;
            }
        }

        @media(max-width: 768px){
            .panel-container{
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            }
            .room-card{
                width: 100%;
            }
        }

        .w-30{
            width: 30%;
        }
        .help-block{
            color: red;
        }
        .header-color{
            background-color: #2c86ff;
        }
        .btn-color{
            background-color: #12b7f5
        }
    </style>

</head>

<body class="bg-light">
<div class="p-5">
    <div class="d-flex justify-content-center">


        <div class="card room-card">
            <div class="card-header header-color bg-gradient text-light">
                <div class="text-center fs-6">
                    <i class="bi bi-chat-dots"></i>
                    <span>注册飞鱼聊天</span>

                </div>
            </div>
<!--            <form action="loginvalidate" method="post">-->
<!--                <div class="card-body">-->
<!--                    <div class="mb-3">-->
<!--                        <label   class="form-label">用户名</label>-->
<!--                        <input class="form-control" name="username" placeholder="请输入用户名" required autofocus>-->
<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <label   class="form-label">密码</label>-->
<!--                        <input type="password" name="password" class="form-control" placeholder="请输入密码" required>-->
<!--                    </div>-->
<!--                    <button id="login" type="submit" class="btn bg-success w-100">登录</button>-->

<!--                </div>-->
<!--            </form>-->
            <form id="register-form" action="" >
                            <div class="card-body">
                                <div class="form-group mb-3">
                                    <label   class="form-label">用户名</label>
                                    <input class="form-control" id="username" name="username" placeholder="请输入用户名" required autofocus>
                                </div>
                                <div class="form-group mb-3">
                                    <label   class="form-label">昵称</label>
                                    <input class="form-control" id="nickname" name="nickname" placeholder="请输入昵称">
                                </div>
                                <div class="form-group mb-3">
                                    <label   class="form-label">手机号</label>
                                    <input class="form-control" id="tel" name="tel" placeholder="请输入昵称">
                                </div>
                                <div class="form-group mb-3">
                                    <label   class="form-label">密码</label>
                                    <input type="password" id="password1" name = "password1" class="form-control" placeholder="请输入密码" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label   class="form-label">确认密码</label>
                                    <input type="password" id="password2" name="password2" class="form-control" placeholder="确认密码" required>
                                </div>
                                <button id="registerbutton" onclick="registerClick()"  class="btn btn-color w-100 text-light">注册</button>

                            </div>
            </form>
            <div class="d-flex justify-content-end">
                <button id="backbutton" onclick="backLogin()"
                        class="btn hidden btn-outline-success btn-sm me-3 mb-2">返回登录</button>
            </div>



        </div>
    </div>
</div>
<script>

    $(document).ready(function () {


        //此处为校验的核心代码
        $("#register-form").bootstrapValidator({
            message: 'This value is not valid',
            // 表单框里右侧的icon
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function (validator, form, submitButton) {
                // 表单提交成功时会调用此方法
                // validator: 表单验证实例对象
                // form  jq对象  指定表单对象
                // submitButton  jq对象  指定提交按钮的对象
            },
            fields: {
                username: {
                    message: '用户名验证失败',
                    validators: {
                        notEmpty: {     //不能为空
                            message: '用户名不能为空'
                        },
                        remote: {   //后台验证，比如查询用户名是否存在
                            url: '/checkUserName',
                            message: '此用户名已存在'
                        }
                    }
                },
                nickname: {
                    message: '昵称验证失败',
                    validators: {
                        notEmpty: {
                            message: '昵称不能为空'
                        }
                    }
                },
                tel: {
                    message: '电话号验证失败',
                    validators: {
                        notEmpty: {
                            message: '电话号不能为空'
                        },
                        regexp: {   //正则验证
                            regexp: /^1\d{10}$/,
                            message: '请输入正确的电话号'
                        },
                        remote: {   //后台验证，比如查询用户名是否存在
                            url: '/checkTel',
                            message: '此手机号已注册，使用该手机号快速登录即可'
                        }
                    }
                },
                password1: {
                    message: '密码验证失败',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {     //检测长度
                            min: 4,
                            max: 15,
                            message: '用户名需要在4~15个字符'
                        }

                    }
                },
                password2: {
                    message: '密码验证失败',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        identical: {    //与指定控件内容比较是否相同，比如两次密码不一致
                            field: 'password1',//指定控件name
                            message: '两次密码不一致'
                        }

                    }
                },

            }
        });


        $("#loginbutton").click(function () {
            $.get("/login?username="+$("#username").val()+"&nickname="+$("#nickname").val()+"&password="+md5($("#password1").val()),function (data,textStatus,request) {
                if(data.code == 0){
                    var param = encodeURI($("#username").val())
                    let token = request.getResponseHeader("token")
                    window.localStorage.setItem($("#username").val()+"_token",token);
                    window.location.href="chatroom?username="+param
                }else {
                    $.confirm({
                        title: '登录失败',
                        content: data.message,
                        autoClose: 'cancelAction|3000',
                        buttons: {
                            cancelAction: {
                                text: "确认",
                                function () {
                                }
                            }
                        }
                    });

                }



            })


    });

    });






    function backLogin() {

        window.location.href="/"
    }

    function checkUserName() {
        console.log($("#username").val())

    }

    function registerClick() {
        $.get("/registerUser?username="+$("#username").val()+"&tel="+$("#tel").val()+"&nickname="+$("#nickname").val()+"&password="+md5($("#password1").val()),function (data) {
            if(data.code == 0){
                $.confirm({
                    title: '注册成功',
                    content: "欢迎"+$("#username").val()+"加入",
                    autoClose: 'cancelAction|5000',
                    buttons: {
                        cancelAction: {
                            text: "跳转首页",
                            action:function () {
                                window.location.href="/"
                            }
                        }
                    }
                });
            }else {
                $.confirm({
                    title: '注册失败',
                    content: data.message,
                    autoClose: 'cancelAction|3000',
                    buttons: {
                        cancelAction: {
                            text: "确认",
                            function () {
                            }
                        }
                    }
                });

            }



        })
    }


</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>